#top-jumbo{
	padding:0 0 400px;
	background: #f4fcff; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #f4fcff 0%, #f4fcff 31%, #895eed 76%, #e9b5f2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #f4fcff 0%,#f4fcff 31%,#895eed 76%,#e9b5f2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #f4fcff 0%,#f4fcff 31%,#895eed 76%,#e9b5f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#top-jumbo:after{
	content:"";
	display:table;
	clear:both;
}

#top-jumbo .left-side{
	float:left;
	display:inline-block;
	width:40%;
}

#top-jumbo .left-side .large-number{
	font-size:300px;
	font-weight:700;
	opacity:.1;
	color:#4945BF;
	position: relative;
	left:-20px; 
	top:0px;
	z-index:1; 
}

#top-jumbo .left-side .more-info-container{
	position:relative;
	top:-100px;
}

#top-jumbo .left-side .more-info-container h1{
	color:#615CF2; 
	font-size:4.5rem;
	text-transform: capitalize;
	margin-bottom:1.5rem;
	line-height:1.1;
}

#top-jumbo .left-side .more-info-container p{
	color:#aaacaf; 
	font-size:1.5rem;
	font-weight:300;
	line-height:1.8;
	margin-bottom:1.5rem;
}

#top-jumbo .left-side .more-info-container .email-area{
	background:white;
	border-radius:50px;
	display: inline-block;
	padding:10px; 
}


#top-jumbo .left-side .more-info-container .email-area .far{
	font-size:2rem;
	position:relative;
	top:7px;
	margin-left:15px;
	color: #D5E2EA;	
}

#top-jumbo .left-side .more-info-container .email-area input[type="email"]{
	background:white;
	border:none;
	padding:10px;
	text-transform:uppercase;
	font-size:1rem;
	width:230px;	
}

#top-jumbo .left-side .more-info-container .email-area button{
	background:#615CF2;
	padding:20px 50px;
	color:white;
	text-transform:uppercase;
	font-size:1rem;
	border-radius:50px;
}


#top-jumbo .right-side{
	float:left;
	display:inline-block;
	width:60%;
	padding: 0 60px;
}

#top-jumbo .right-side img{
	width:100%
}

/*LAPTOP DEVICES */
@media only screen and (max-width: 1215px) {
   #top-jumbo .left-side .more-info-container .email-area {
  	width: 100%
  }
  #top-jumbo .left-side .more-info-container h1 {
    font-size: 3.5rem;
  }
  #top-jumbo .left-side .more-info-container .email-area .far {
    position: relative;
    top: 14px;
    margin-left: 0;
    float: left;
    width: 15%;
    text-align: center;
  }
  #top-jumbo .left-side .more-info-container .email-area input[type="email"] {
    float: left;
    width: 50%;
    position: relative;
    top: 12px;
  }
  #top-jumbo .left-side .more-info-container .email-area button {
    background: #615CF2;
    padding: 20px 0;
    font-size: 1rem;
    width: 35%;
    float: left;
  }
}
/*TABLETS DEVICES */
@media only screen and (max-width: 1023px) {
    #top-jumbo {
	 padding: 0 0 300px;
  }

   #top-jumbo .left-side {
    width: 40%;
  }	
	#top-jumbo .left-side .large-number {
    font-size: 250px;
  }
   #top-jumbo .left-side .more-info-container p {
    font-size: 1.2rem;
  }
  #top-jumbo .left-side .more-info-container .email-area {
   	width: 100%
  }
  #top-jumbo .left-side .more-info-container h1 {
    font-size: 3.5rem;
  }
  #top-jumbo .left-side .more-info-container .email-area .far {
    position: relative;
    top: 14px;
    margin-left: 0;
    float: left;
    width: 15%;
    text-align: center;
  }
  #top-jumbo .left-side .more-info-container .email-area input[type="email"] {
    float: left;
    width: 50%;
    position: relative;
    top: 12px;
  }
  #top-jumbo .left-side .more-info-container .email-area button {
    background: #615CF2;
    padding: 20px 0;
    font-size: 1rem;
    width: 35%;
    float: left;
  }

  #top-jumbo .right-side {
  	width: 60%;
  }
  #top-jumbo .right-side img {
    position: relative;
    top: 156px;
  }
}

/*MOBILE DEVICES */
@media only screen and (max-width: 767px) {
    #top-jumbo {
	 padding: 0 0 200px;
  }
    #top-jumbo .left-side {
    width: 100%;
  }	
	#top-jumbo .left-side .large-number {
    font-size: 250px;
  }
   #top-jumbo .left-side .more-info-container p {
    font-size: 1.2rem;
  }
  #top-jumbo .left-side .more-info-container .email-area {
   	width: 100%
  }
  #top-jumbo .left-side .more-info-container h1 {
    font-size: 3.5rem;
  }
  #top-jumbo .left-side .more-info-container .email-area .far {
    position: relative;
    top: 14px;
    margin-left: 0;
    float: left;
    width: 15%;
    text-align: center;
  }
  #top-jumbo .left-side .more-info-container .email-area input[type="email"] {
    float: left;
    width: 50%;
    position: relative;
    top: 12px;
  }
  #top-jumbo .left-side .more-info-container .email-area button {
    background: #615CF2;
    padding: 20px 0;
    font-size: 1rem;
    width: 35%;
    float: left;
  }

  #top-jumbo .right-side {
  	width: 100%;
  }
  #top-jumbo .right-side img{
  	top: 0px;
  }
}