#latest{
	padding: 50px 0;	
}

#latest .header{
	padding: 50px 0;
}

#latest .header:after{
	content:"";
	display: table;
	clear: both;
}

#latest .header h1{
	color: #615CF2;
	font-size: 4.2rem;
	max-width: 400px;
	width: 100%;
	display: inline-block;
	float: left; 
}

#latest .header .directions{
	display: inline-block;
	float: right;
	position: relative;
	top: 35px;
}

#latest .header .directions .move-left{
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	float: left; 
	padding: 20px 70px;
	font-size: 3rem;
	background: #615CF2;
	color: white;
	border: 1px solid #615CF2;
}

#latest .header .directions .move-right{
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	float: right;
	padding: 20px 70px;
	font-size: 3rem;
	background: white;
	color: #cecece;
	border: 1px solid #cecece;
}

#latest .body{
	padding: 100px 0;
}

#latest .body:after{
	content:"";
	display: table;
	clear: both;
}

#latest .body .column{
	width: 33.33%;
	float: left;
	padding: 0 15px;
	text-align: center; 
}

#latest .body .column:nth-child(1) .bg-square{
	width: 300px;
	height: 300px;
	margin: 0 auto;
	background: rgb(77,165,159); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(77,165,159,1) 0%, rgba(162,188,58,1) 51%, rgba(239,64,114,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(77,165,159,1) 0%,rgba(162,188,58,1) 51%,rgba(239,64,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(77,165,159,1) 0%,rgba(162,188,58,1) 51%,rgba(239,64,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	position: relative;
}

#latest .body .column:nth-child(2) .bg-square{
	width: 300px;
	height: 300px;
	margin: 0 auto;
	background: rgb(81,173,165); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(81,173,165,1) 0%, rgba(62,221,110,1) 51%, rgba(239,64,114,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(81,173,165,1) 0%,rgba(62,221,110,1) 51%,rgba(239,64,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(81,173,165,1) 0%,rgba(62,221,110,1) 51%,rgba(239,64,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	position: relative;
}

#latest .body .column:nth-child(3) .bg-square{
	width: 300px;
	height: 300px;
	margin: 0 auto;
	background: rgb(64,229,80); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(64,229,80,1) 0%, rgba(58,105,216,1) 49%, rgba(239,64,114,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(64,229,80,1) 0%,rgba(58,105,216,1) 49%,rgba(239,64,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(64,229,80,1) 0%,rgba(58,105,216,1) 49%,rgba(239,64,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	position: relative;
}

#latest .body .column .bg-square img{
	width: 80%;
	position: absolute;
	top: -30%;
	left: 10%;
}

#latest .body .column:nth-child(1) .bg-square .cart{
	width: 94px;
	height: 94px;
	border: 10px solid white;
	position: absolute;
	top: -47px;
	right: -47px;
	border-radius: 50%;
	background: rgb(77,165,159); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(77,165,159,1) 0%, rgba(162,188,58,1) 51%, rgba(239,64,114,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(77,165,159,1) 0%,rgba(162,188,58,1) 51%,rgba(239,64,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(77,165,159,1) 0%,rgba(162,188,58,1) 51%,rgba(239,64,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color: white;
}

#latest .body .column:nth-child(2) .bg-square .cart{
	width: 94px;
	height: 94px;
	border: 10px solid white;
	position: absolute;
	top: -47px;
	right: -47px;
	border-radius: 50%;
	background: rgb(81,173,165); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(81,173,165,1) 0%, rgba(62,221,110,1) 51%, rgba(239,64,114,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(81,173,165,1) 0%,rgba(62,221,110,1) 51%,rgba(239,64,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(81,173,165,1) 0%,rgba(62,221,110,1) 51%,rgba(239,64,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color: white;
}

#latest .body .column:nth-child(3) .bg-square .cart{
	width: 94px;
	height: 94px;
	border: 10px solid white;
	position: absolute;
	top: -47px;
	right: -47px;
	border-radius: 50%;
	background: rgb(64,229,80); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(64,229,80,1) 0%, rgba(58,105,216,1) 49%, rgba(239,64,114,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(64,229,80,1) 0%,rgba(58,105,216,1) 49%,rgba(239,64,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(64,229,80,1) 0%,rgba(58,105,216,1) 49%,rgba(239,64,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color: white;
}

#latest .body .column .bg-square .cart .fas{
	font-size: 2rem;
	position: relative;
	top: 22px;
	left: -3px;
}

#latest .body .column .line{
	width: 20%;
	height: 2px;
	background: #615CF2;
	margin: 50px auto;
	display: inline-block;
}

#latest .body .column .price{
	color: #F28F38;
	font-weight: 700;
	font-size: 2.3rem;
}

#latest .footer{
	text-align: center;
	position: relative;
}

#latest .footer img{
	width: 40%;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 30%;
	filter: grayscale(100%) invert(100%);
	opacity: .1;
	transform: rotate(40deg);
}

#latest .footer .info-box{
	position: relative;
	z-index: 2;
	padding:  200px 0;
}

#latest .footer .info-box h2{
	color: #615CF2;
	font-size: 4rem;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 60px;

}

#latest .footer .info-box form{
	vertical-align: top;
	display: inline-block;
	margin: 0 auto;
}

#latest .footer .info-box .input-area{
	background:white;
	border-radius:50px;
	display: inline-block;
	padding:10px; 
	float: left;
}


#latest .footer .info-box .input-area .far{
	font-size:2rem;
	position:relative;
	top:7px;
	margin-left:15px;
	color: #D5E2EA;	
}

#latest .footer .info-box .input-area:nth-child(1){
	height: 80px;
	margin-right: 50px;
}

#latest .footer .info-box .input-area input{
	background:white;
	border:none;
	padding:10px;
	text-transform:uppercase;
	font-size:1rem;
	width:230px;	
}

#latest .footer .info-box .input-area:nth-child(1) input{
	position: relative;
	top: 8px;
}

#latest .footer .info-box .input-area:nth-child(1) .far{
	position: relative;
	top: 14px;
}

#latest .footer .info-box .input-area button{
	background:#615CF2;
	padding:20px 50px;
	color:white;
	text-transform:uppercase;
	font-size:1rem;
	border-radius:50px;
}

/*LAPTOP DEVICES */
@media only screen and (max-width: 1215px) {
  
}
/*TABLETS DEVICES */
@media only screen and (max-width: 1023px) {
   #latest .header h1 {
  	font-size: 3.5rem;
  }
  #latest .header .directions {
  	top: 18px;
  }
  #latest .body .column {
  	width: 50%;
  	margin-bottom: 150px;
  }
  #latest .footer img {
  	width: 50%;
  	z-index: 1;
  	position: absolute;
  	top: 100px;
  	left: 30%;
  	-webkit-filter: grayscale(100%);
  	filter: grayscale(100%) invert(100%);
  	opacity: .1;
  	transform: rotate(40deg);
   }
  /* #latest .footer .info-box form {
    width: 80%;
   }*/
   #top-jumbo .footer .info-box .input-area .far {
     position: relative;
     top: 14px;
     margin-left: 0;
     float: left;
     width: 15%;
     text-align: center;
   }
   #top-jumbo .footer .info-box .input-area input[type="email"] {
     float: left;
     width: 50%;
     position: relative;
     top: 12px;
   }
   #top-jumbo .footer .info-box .input-area button {
     background: #615CF2;
     padding: 20px 0;
     font-size: 1rem;
     width: 35%;
     float: left;
   }
   #latest .footer .info-box .input-area:nth-child(1) {
     margin: 0;
     width: 50%;
   }
   #latest .footer .info-box .input-area:nth-child(1) input {
     margin: 0;
     width: 80%;
   }
   #latest .footer .info-box .input-area:nth-child(2) {
     margin: 0;
     width: 50%;
   }

}

/*MOBILE DEVICES */
@media only screen and (max-width: 767px) {
  #latest .header {
  	text-align: center;
  }
  #latest .header h1 {
  	font-size: 3rem;
  	text-align: center;
  	width: 100%;
  	max-width: none;
  }
  #latest .header .directions {
  	display: inline-block;
  	float: none;
  	position: static;
  	margin: 50px auto;
  	top: 0;
  }
  #latest .body .column {
    width: 100%;
    margin-bottom: 150px;
   }
   #top-jumbo .footer .info-box .input-area .far {
     position: relative;
     top: 14px;
     margin-left: 0;
     float: left;
     width: 15%;
     text-align: center;
   }
   #top-jumbo .footer .info-box .input-area input[type="email"] {
     float: left;
     width: 50%;
     position: relative;
     top: 12px;
   }
   #top-jumbo .footer .info-box .input-area button {
     background: #615CF2;
     padding: 20px 0;
     font-size: 1rem;
     width: 35%;
     float: left;
   }
   #latest .footer .info-box .input-area:nth-child(1) {
     margin: 0;
     width: 100%;
     margin-bottom: 50px;
   }
   #latest .footer .info-box .input-area:nth-child(2) {
     margin: 0;
     width: 100%;
   }
}